{% extends 'server/base.html' %}

{% block content %}
  <div class="rounded shadow-xl bg-gray-50 p-14 flex flex-col gap-2 items-center">
    <h1 class="text-lg capitalize text-green-900 font-bold">Password Reset</h1>
    <p style="font-variant: small-caps;">you request to reset your passwword?, below is the 4 digit code to reset your password</p>
    <b class="text-4xl text-gray-600 my-4 underline">{{ code }}</b>
    <p style="font-variant: small-caps;">if you did not request it, you can ignore this email.</p>
    <div class="w-full flex flex-col items-start gap-0 text-sm">
      <span class="capitalize">from Superb Eats.</span>
    </div>
  </div>
{% endblock %}
